<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    {[template "header" .]}
    <script type="text/javascript" src="/static/js/system.js"></script>
</head>

<body>
<div class="x-body">
    <form id="form-data" method="post" class="layui-form layui-form-pane">

        <div class="layui-form-item" style="margin-bottom: 0px; margin-top: 10px;">
            <label for="RoleName" class="layui-form-label">
                <span class="x-red">*</span>角色名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="RoleName" name="RoleName" required="" lay-verify="required|RoleName"
                       autocomplete="off" class="layui-input" value="{[.RoleName]}">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">
                拥有权限
            </label>
            <table  class="layui-table layui-input-block">
                <tbody>

                {[range $key1,$value1 := .CurrUserMenu]}
                {[if le $value1.ParentId 0]}
                <tr>
                    <td>
                        <input  type="checkbox" name="Power" lay-filter="powerCheck" value="{[$value1.Id]}" lay-skin="primary" title="{[$value1.Name]}"
                               {[if eq $value1.Status 1]}
                               checked="checked"
                               {[end]}
                        >
                    </td>
                    <td></td>
                </tr>
                {[range $key2,$value2 := $.CurrUserMenu]}
                {[if eq $value2.ParentId $value1.Id]}
                <tr>
                    <td style="min-width: 160px;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├
                        <input lay-filter="powerCheck" lay-skin="primary" name="Power" type="checkbox" value="{[$value2.Id]}" title="{[$value2.Name]}"
                               {[if eq $value2.Status 1]}
                               checked="checked"
                               {[end]}
                        >
                    </td>
                    <td>
                        <div class="layui-input-block">
                            {[range $key3,$value3 := $.CurrUserMenu]}
                            {[if eq $value3.ParentId $value2.Id]}
                            <input lay-filter="powerCheck" lay-skin="primary" name="Power" type="checkbox" value="{[$value3.Id]}" title="{[$value3.Name]}"
                                   {[if eq $value3.Status 1]}
                                   checked="checked"
                                   {[end]}
                            >
                            {[end]}
                            {[end]}
                        </div>
                    </td>
                </tr>
                {[end]}
                {[end]}
                {[end]}
                {[end]}

                </tbody>
            </table>
        </div>

        <div class="layui-form-item layui-form-text">
            <label for="Intro" class="layui-form-label">
                描述
            </label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="Intro" name="Intro" class="layui-textarea">{[.Intro]}</textarea>
            </div>
        </div>

        <div class="layui-form-item" pane="">
            <label class="layui-form-label">角色状态</label>
            <div class="layui-input-block">
                <input type="checkbox" name="RoleStatus" id="RoleStatus" lay-skin="switch" lay-text="ON|OFF" value="1" lay-filter="Status"
                       {[if eq .RoleStatus  1]}
                       checked="checked"
                       {[end]}
                >
                <div class="layui-unselect layui-form-switch" lay-skin="_switch"><em>OFF</em><i></i></div>
            </div>
        </div>

        <div class="layui-form-item">
            <input type="hidden" id="Id" name="Id" value="{[.Id]}">
            <input type="hidden" name="NoCheck" id="NoCheck" value="">
            <button class="layui-btn" lay-submit="" lay-filter="sub">提交</button>
        </div>

    </form>
</div>
<script>
    layui.use(['form','layer'], function(){
        var form = layui.form
        var layer = layui.layer

        form.on('submit(sub)', function(data){
            var loading = layer.load(1, {shade: [0.1,'#fff']});
            var str = []
            $("input[name='Power']:not(:checked)").each(function () {
                var current = $(this).val();
                str.push(current)
            });

            $("#NoCheck").val(str)
            formSubmit('/admin/user/role_edit_post', $("#form-data").serialize(),"alert","reload")
            layer.close(loading);
            return false
        })
        form.on('checkbox(powerCheck)', function(obj){
            checkedValue = this.value;
            length = checkedValue.length;
            if (obj.elem.checked) {
                var parent = []
                for (i = length; i > 2; ){
                    i=i-2;
                    checkedValue = checkedValue.substring(0,checkedValue.length-2)
                    parent.push(checkedValue)
                }
                $("input[name='Power']:not(:checked)").each(function (index, item) {
                    var current = item.value;
                    parent.forEach(function (value,i) {
                        if (current == value){
                            item.checked = true
                        }
                    });
                });
            }else{
                $("input[name='Power']:checked").each(function (index, item) {
                    var current = item.value;
                    for (;current.length > 2;){
                        current = current.substring(0,current.length-2);
                        if (current == checkedValue){
                            item.checked = false
                        }
                    }

                });
            }
            form.render('checkbox');
        });
    })
</script>
</body>
</html>